@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Nikkyou Sans";
  src: url("/fonts/NikkyouSans-mLKax.ttf") format("truetype"); }

@font-face {
  font-family: "Noto Sans JP", sans-serif;
  src: url("/fonts/NotoSansJP-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  src: url("/fonts/NotoSerifJP-Bold.otf") format("opentype"); }

body {
  background: #fff;
  color: #06060a;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr; }

ul {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 8rem;
  padding: 24px; }

.titulo {
  font-family: "Nikkyou Sans", serif;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 2rem;
  grid-column: 1 / 4; }

.menu {
  grid-column: 1 / 5;
  margin-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(360deg, #babcaf 0%, #f0f2e1 97.51%); }

.menu-logo a img {
  margin: 6px 64px; }

.menu-nav ul {
  margin: 0 24px 0 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; }

.menu-nav a {
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  padding: 10px;
  margin-right: 20px;
  color: #06060a;
  transition: 0.1s; }

.menu-nav a:hover {
  color: #b8050c; }

.historia h2 {
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #b8050c;
  margin-bottom: 0.75rem; }

.historia h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 12px;
  background: #babcaf; }

.historia p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem; }

.historia-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2; }

.historia-lista li {
  cursor: pointer; }

.historia-lista::-webkit-scrollbar {
  width: 18px; }

.historia-lista::-webkit-scrollbar-thumb {
  background: #babcaf;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff; }

.historia-lista::-webkit-scrollbar-track {
  background: #fff; }

.historia-descricao {
  grid-column: 3; }

.historia-descricao section {
  margin-bottom: 4rem; }

.equipe-grid {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

.equipe-grid h3 {
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #b8050c;
  margin-bottom: 0.75rem;
  margin-top: 1rem; }

.equipe-grid h3::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 12px;
  background: #babcaf; }

.equipe-grid li {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.75rem;
  list-style-type: disc;
  position: relative;
  left: 24px; }

.faq-lista {
  grid-column: 2 / 4; }

.faq-lista dt {
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #b8050c; }

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 12px;
  background: #babcaf; }

.faq-lista dd {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 32px; }

.mapa {
  grid-column: 2; }

.dados {
  grid-column: 3; }

.citacao {
  grid-column: 3 / 4;
  text-align: center;
  grid-template-columns: 200px;
  position: relative;
  top: -175px;
  right: -321px;
  width: 250px;
  padding: 0px;
  margin: 17px 0 17px 0; }

.citacao p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-bottom: 0.4rem; }

.citacao cite {
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.3125rem; }

.dados li {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem; }

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 12px;
  background: #babcaf; }

.grid-section.contato {
  margin-bottom: 0rem !important; }

.footer {
  grid-column: 1/5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(360deg, #babcaf 0%, #f0f2e1 97.51%); }

.footer p {
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 20px;
  margin: 8px 0px 8px 44px; }

.redes-sociais ul {
  margin: 0 35px 0 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; }

.redes-sociais ul li a {
  border: 2px solid #06060a;
  display: block;
  padding: 10px;
  margin-right: 20px;
  transition: 0.1s; }

.redes-sociais ul li a:hover {
  border-color: #babcaf; }

.redes-sociais ul li a img {
  width: 28px;
  height: 28px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@media screen and (min-width: 751px) and (max-width: 924px) {
  .menu {
    margin-bottom: 4rem; }
  .menu-logo {
    margin: 0 auto;
    width: 100%; }
  .menu-logo a img,
  .menu-nav {
    margin: 0 auto; }
  .menu-nav ul {
    margin: 0; } }

@media screen and (max-width: 751px) {
  body {
    grid-template-columns: 1fr; }
  .menu,
  .grid-section,
  .footer {
    grid-column: 1; }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    margin-top: 0rem;
    margin-bottom: 2rem; }
  .grid-section .titulo {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1; }
  .faq-lista dt {
    margin-top: 1rem;
    max-width: 280px; }
  .menu {
    margin-bottom: 4rem; }
  .menu-logo {
    margin: 0 auto; }
  .menu-nav {
    margin: 16px auto; }
  .menu-nav ul {
    margin: 0; }
  .menu-nav a {
    font-family: "Noto Serif JP", serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-right: 10px; }
  .historia h2 {
    font-family: "Noto Serif JP", serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 0.875rem;
    line-height: 1.3125rem; }
  .historia h2::before {
    margin-right: 8px; }
  .historia p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.875rem;
    line-height: 1.3125rem; }
  .historia-lista {
    grid-column: 1; }
  .faq-lista,
  .dados,
  .mapa,
  .equipe-grid {
    grid-column: 1 / 4; }
  .equipe-grid {
    grid-template-columns: none;
    grid-gap: 2rem; }
  .equipe-grid h3 {
    max-width: 300px; }
  .faq-lista dd {
    margin-bottom: 3rem; }
  [data-anime="accordion"] dt::after {
    margin-left: 4px !important; }
  [data-semana]::after {
    width: 10px !important;
    height: 10px !important; }
  .dados li {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.75rem;
    line-height: 1.125rem; }
  .citacao {
    top: 0px;
    left: -24px; }
  .citacao p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.75rem;
    line-height: 1.125rem; }
  .dados {
    margin-top: 1rem; }
  blockquote {
    width: 250px; }
  .footer {
    margin-top: 2rem;
    justify-content: center; }
  .footer p {
    padding: 16px;
    margin: 0 auto;
    text-align: center; }
  .redes-sociais ul {
    margin: 0 auto; }
  .mapa {
    max-width: 300px; } }

[data-menu="button"] {
  display: none; }

@media screen and (max-width: 751px) {
  .js [data-menu="button"] {
    font-family: "Noto Serif JP", serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    display: flex;
    background: #babcaf;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #06060a;
    cursor: pointer;
    margin: 0px;
    align-items: center;
    position: relative;
    z-index: 300;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .js [data-menu="button"].active {
      border-radius: 4px 4px 0 0;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
      color: #b8050c; }
    .js [data-menu="button"]::before {
      margin-right: 4px;
      content: "";
      display: inline-block;
      height: 2px;
      width: 12px;
      background: #06060a;
      box-shadow: 0 4px #06060a, 0 -4px #06060a;
      transition: transform 0.3s; }
    .js [data-menu="button"].active::before {
      transform: rotate(90deg);
      background: #b8050c;
      box-shadow: 0 4px #b8050c, 0 -4px #b8050c; } }

@media screen and (max-width: 751px) {
  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background: linear-gradient(360deg, #f0f2e1 0%, #babcaf 97.51%);
    width: 93.9px;
    z-index: 400;
    top: 1;
    padding: 12px 0 12px 0;
    margin-top: -1px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .js [data-menu="list"].active {
      display: block;
      animation: show-down 0.3s forwards;
      border-radius: 0 0 4px 4px; } }

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s; }

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.js [data-tab="content"] section {
  display: none; }

[data-tab="content"] section.ativo {
  display: block !important; }

[data-tab="content"] section.ativo.show-right {
  animation: show-right 0.5s forwards; }

[data-tab="content"] section.ativo.show-down {
  animation: show-down 0.5s forwards; }

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.js [data-anime="accordion"] dd {
  display: none; }

[data-anime="accordion"] dt::after {
  content: "⬎";
  margin-left: 12px;
  cursor: pointer; }

[data-anime="accordion"] dt.ativo::after {
  content: "⬏"; }

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards; }

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0; }
  to {
    max-height: 300px;
    opacity: 1; } }

[data-semana]::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background: #b8050c;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid #06060a; }

[data-semana].aberto::after {
  background: #33ff44; }

.tooltip {
  position: absolute;
  z-index: 600;
  background: rgba(6, 6, 10, 0.8);
  box-shadow: 0 0 0 2px #babcaf, 0 0 0 6px rgba(6, 6, 10, 0.8);
  padding: 0.5rem;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  max-width: 170px;
  border-radius: 2px;
  top: 0px;
  left: 0px; }

.galeria {
  grid-column: 1 / -1; }

/* Estilo essencial do slide */
.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1; }

.slide {
  display: flex; }

.slide:hover {
  /* Melhora de performance */
  will-change: transform; }

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s; }

.slide li.active {
  opacity: 1;
  transform: scale(1); }

.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / -1; }

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  cursor: pointer; }

.custom-controls li.active {
  opacity: 1;
  transform: scale(1); }

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  grid-column: 1 / -1; }

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 48px;
  height: 48px;
  background: #06060a url("../../img/arrow.svg") center center no-repeat; }

.arrow-nav button.prev {
  transform: rotate(-180deg); }
