.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../img/arrow-red.svg") no-repeat center center;
  margin-left: 12px;
  transform: rotate(90deg);
  transition: transform 0.3s;
  cursor: pointer;
}

[data-anime="accordion"] dt.ativo::after {
  content: "";
  transform: rotate(-90deg);
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
  }
}
