[data-semana]::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background: $vermelho;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid $preto-azulado;
}

[data-semana].aberto::after {
  background: $verde;
}
