.galeria {
  grid-column: 1 / -1;
}

div#galeria.grid-section {
  margin-bottom: 0;
  padding: 24px 24px 0 24px;
}

.grid-section.galeria.ativo {
  padding: 0 24px 24px 24px;
}
/* Estilo essencial do slide */

.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  /* Melhora de performance */
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / -1;
}

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  grid-column: 1 / -1;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: $branco;
  width: 48px;
  height: 48px;
  background-image: url("../../img/teste.png");
  transition: 0.2s;
}

.arrow-nav button:hover {
  background-image: url("../../img/teste2.png");
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}
