@font-face {
  font-family: "Nikkyou Sans";
  src: url("/fonts/NikkyouSans-mLKax.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Serif JP";
  src: url("/fonts/NotoSerifJP-Bold.otf") format("opentype");
}
